@model BloggingEngine.DataAccess.BlogList
<h1>List of Blogs</h1>

 <a type="button" class="btn btn-primary" asp-controller="blogging" asp-action="createBlog">Create Blog</a>
 <a type="button" class="btn btn-primary" asp-controller="blogging" asp-action="createAuthor">Create Author</a>
 <br>

 @foreach (var item in Model.Blogs)
 {

      
      <h2>@item.Name </h2>
      <p>by @item.Author.FirstName @item.Author.LastName  </p>
      <a type="button" class="btn btn-success" asp-controller="blogging" asp-route-id="@item.Id" asp-action="EditBlog">Edit Blogname</a>
      <a type="button" class="btn btn-success" asp-controller="blogging" asp-route-id="@item.Id" asp-action="Posts">Detail</a>
      
 }

 

